$bg: #FFFFFF;
$t: #000000;

//Desktop Dropdown menu
.dropdownContent{
    display: flex;
    background-color: $bg;
    top: 100%;
    z-index: 100;
    position: absolute;
    width: fit-content;
    height: fit-content;

    max-height: 0;
    overflow: hidden;
    
    -webkit-transition: max-height 0.2s ease-in;
    transition: max-height 0.2s ease-in;
    
    //left side of the dropdown content
    .leftContent{
        padding: 3em;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 60%;
        height: fit-content;
        background-color: #FFFFFF;
    }

    //right side of the dropdown content
    .rightContent{
        padding: 3em;
        display: flex;
        justify-content: center;
        width: 50%;
        background-color: $bg;
    }

    //drop down left and right sub-menus
    .dropdownMenu{
        margin: 0px;
        list-style: none;
        font-size: 22px;
        line-height: 40px;
        font-weight: 400;
        color: $t;
        text-align: start;
        text-transform: none;
    }

    .dropdownMenu a{
        color: $t;
    }

    .dropdownMenu li{
        padding-left: 0% !important;
        white-space: nowrap;
    }

    //drop down right menu title
    .dropdownCate{
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
    }

    //drop down menu image
    .dropdownImg{
        object-fit: contain;
    }




}

