$breakpoint-phone: 480px;
$breakpoint-tablet: 768px;

.BannerSlider{
    margin-top: 7vw;
}
  
@media (max-width: $breakpoint-tablet) {
  //change banner to flex-colume on smaller screen
 .BannerSlider .slider{
     flex-direction: column;
     background-color: #FFFFFF;

 }
}


