.arrowBtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.arrowBtn:focus{
    outline: transparent;
}

.cursiveHeader{
    color:#000000 ;
    font-family: Pacifico;
    font-size: 3.125vw;
    line-height: 5.46875vw;
    text-transform: none;
    margin: 1em;

}

.arrowBtn img{
    height: 30px;
}



$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;

  
@media (max-width: $breakpoint-tablet) {
    .cursiveHeader{
        font-size: 3.125vw;
    line-height: 5.46875vw;
    
    }

    .arrowBtn img{
        height: 20px;
    }
    
}

  
@media (max-width: $breakpoint-phone) {
    .cursiveHeader{
        font-size: 5vw;
    
    }
}
