.Footer{
    padding: 5vw;
    height: fit-content;
    background-color: #000000;
    display: flex;
    text-align: start;
    text-transform: none;

    ul{
        padding-inline-start: 0px;
    }

    .footerTitle{
        font-family: Pacifico;
        font-size: 2vw;
        line-height: 39px;
        font-weight: 400;
        cursor: pointer;
        white-space: nowrap;
    }


    .footerMenuItem{
        list-style: none;
        font-size: 1vw;
        line-height: 2.6vw;
        font-weight: 400;
    }

    .services{
        margin-right: 5vw;
    }

    .social{
        margin-left: auto;
    }

    .social li{
        display:inline;
    }

    #insIcon{
        margin-left: 2em;
        margin-right: 2em;
    }

    .panel-collapse {
        max-height: 500px;
        overflow: hidden;
        transition: max-height .5s ease;
      }
    .panel-close {
        max-height: 500px;
    }
      span{
        display: none;  
        float:right
    }
}



$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
    .Footer{
        flex-direction: column;
    }

    .footerTitle{
        font-size: 3vw !important;
        line-height: 4vw !important;
    }

    .Footer .services {
        margin-right: 0;
    }

    .Footer .social {
        margin-right: auto;
        margin-left: 0;

    }
    .panel-close {
        max-height: 0!important;
    }
    span{
        display: inline !important;  
        float:right
    }
    .footerMenuItem{
        list-style: none;
        font-size: 2vw !important;
        line-height: 5vw !important;
 
    }
}






$breakpoint-phone: 480px;
@media (max-width: $breakpoint-phone) {

    .Footer .footerTitle {
        font-size: 5vw;
    }
    .Footer .footerMenuItem {
        font-size: 2.5vw !important;
        line-height: 7vw !important;
 
    }
    
 

}




