.row{
    margin-top:2em;
    margin-bottom: 6vw;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.socialPic{
    height: 15vw;
    margin-left: 1em;
    margin-right: 1em;


}

$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;

  
@media (max-width: $breakpoint-tablet) {
    .socialPic{
        width: 20vw;
        height: 20vw;
    }

    #a3{
        display: none;
    }
  
    #a4{
      display: none;
  }
}