$bgColor: #10504F; 
$textColor: #FFFFFF;
$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;

//return div
.top{
    height: 10.2vw;
}

//Top Promo banner
.topBanner{
    background-color: #000000;
    line-height: 3vw;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 3vw;
    z-index: 101;
    font-size: 12px;
}
    

// Desktop Nav
.nav{
    top: 3vw;
    background-color: $bgColor;
    position: relative;
    width: 100%;
    height: 7.1875vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    //logo a wrape
    .site-logo{
     position: absolute;
     left:48px;
     z-index: 100;
    }

    //logo image
    .site-logo img{
        width: 4.8vw;
        height: 4vw;
       }

    //nav menu 
    .navmenu {
        list-style: none; 
        display: inline-flex;
        justify-content: center;
         width: 100%;
       
    }

    //nav menu list item
    .navmenu li {
        padding: 10px 30px;
        font-weight: 500;
        font-size: 1.3vw;
        line-height: 1.3vw;
        box-sizing: inherit;
        
    }

    //hover to show dropdown Component
    .navmenu li:hover ~ .dropdownContent{
        max-height: 400px;
    }

    //hover to show unerline
    .navmenu li:hover{
        text-underline-position: under;
        text-decoration: underline;
    }

     //dropdown menu Component
     .dropdownContent:hover{
        max-height: 400px;
    }

    //search, user, checkout icon div
    .navIcon{
        display: flex;
        position: absolute;
        align-items: center;
        right:2.5vw;
    }

    //search, user, checkout icon
    .icon{
        padding-left: 1vw;
        padding-right: 1vw;
    }

    //Search form
    #searchForm{
        overflow: hidden;
        max-width: 100;
    }

   //search form input area
    #searchInput{
        width: 278px;
        height: 36px;
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        padding-left: 1em;
        padding-right: 0%;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
    }

    #searchInput:focus{
       outline-color: transparent;
    }

    #searchInput::placeholder {
        padding-left: 0.5em;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
    }

    //search form go btn
    #searchBtn{
        width: 56px;
        padding:0%;
        height: 36px;
        background: #000000;
        border: none;
        color: #FFFFFF;
    }

    /////////////////////////////////////////////////mobile nav///////////////////////////////////////////////////
    
    //bottom section with image
    .menuPic{
        background-color: #FFFFFF;
        display: flex !important;
        height: 25vw;
        width: -webkit-fill-available;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        bottom: 3vw;
    }

    //Menu Title
    .BurgerTitle{
        font-weight: 300;
        cursor: pointer;
    }

    //Menu Expand and Collapse icon
    span{float:right;}

    //Mobile saerch form div
    #mobileSearch{
        background-color: white;
        padding: 0;
        position: absolute;
        top: 100%;
        z-index: 100;
        overflow: hidden;
        max-width: 0;
    }

    //Mobile burger menu icon
    .bm-burger-button {
        width: 3vw;
        height: 3vw;
    }

    //Mobile saerch form
    #searchFormMobile{
        display: flex;
        justify-content: end;
    }

    //menu hr line breaker
    .menuLine{
        border-top: 0.5px solid #F1F1EF;
        border-bottom: 0px;
    }

    .menuLine:focus{
        outline:none;
    }

}





@media (max-width: 1100px) {
    .navmenu li{
        display:none !important;
    }

    .nav .navIcon {
        width: 100%;
        justify-content: flex-end;
    }

    .nav .site-logo {

        left: 7.5vw;
        height: 6vw;
    }

    .nav .site-logo img{
        width: 8vw;
        height: 6vw;
       }
       
    #searchForm{
        overflow: hidden;
        max-width: 0;
    }

    #mobileSearch{
        max-width: 100em !important;
        padding: 0.5em !important;
    }
    
    .nav #searchInput {
        width: 50vw;
        height: 5vw;
        font-size: 2vw;
    }

    .nav #searchInput ::placeholder {
        padding-left: 0;
        font-size: 10vw;
        line-height: 1vw;
        font-weight: 300;
    }

    #searchInput::placeholder {

        font-size: 2vw !important;
        line-height: 2vw !important;
    }

    .nav #searchBtn {
        width: 7vw;
        height: 5vw;
        font-size: 2vw;
    }




}


@media (max-width: $breakpoint-tablet) {

    .top{
        height: 13vw;
    }
    .nav{
        height: 10vw;
    }


    .topBanner{
        height: 4vw;
        font-size: 2vw;
        line-height: 4vw;
    }
        


    .BurgerTitle{
        font-size: 3vw;
    }

}



@media (max-width: $breakpoint-phone) {

    .icon img{
        height: 5vw;
    }

    .top {
        height: 16vw;
    }

    .topBanner{
      
        line-height: 6vw;
        height: 6vw;
        z-index: 101;
        font-size: 3vw;
    }

    .nav {
        top: 6vw;
    }

    .nav .site-logo {
        left: 15vw;
        height: 8vw;
    }

    .nav .site-logo img {
        width: 12vw;
        height: 8vw;
    }

    .nav .bm-burger-button {
        width: 3vw;
        height: 3vw;
    }

    .nav .bm-burger-button {
        width: 5vw;
        height: 5vw;
        top: 2.5vw !important;
        left: 5vw;
    }
        

}







