.top {
  height: 10.2vw;
}

.topBanner {
  background-color: #000000;
  line-height: 3vw;
  position: fixed;
  top: 0%;
  width: 100%;
  height: 3vw;
  z-index: 100;
  font-size: 12px;
}

.nav {
  top: 3vw;
  background-color: #10504F;
  position: relative;
  width: 100%;
  height: 7.1875vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .site-logo {
  position: absolute;
  left: 48px;
  z-index: 100;
}

.nav .site-logo img {
  width: 4.8vw;
  height: 4vw;
}

.nav .navmenu {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.nav .navmenu li {
  padding: 10px 30px;
  font-weight: 500;
  font-size: 1.3vw;
  line-height: 1.3vw;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.nav .navIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 2.5vw;
}

.nav .icon {
  padding-left: 1vw;
  padding-right: 1vw;
}

.nav .dropdownContent:hover {
  max-height: 400px;
}

.nav .navmenu li:hover ~ .dropdownContent {
  max-height: 400px;
}

.nav .navmenu li:hover {
  text-underline-position: under;
  text-decoration: underline;
}

.nav #searchInput {
  width: 278px;
  height: 36px;
  background: #FFFFFF;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 1em;
  padding-right: 0%;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.nav #searchInput:focus {
  outline-color: transparent;
}

.nav #searchInput::-webkit-input-placeholder {
  padding-left: 0.5em;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.nav #searchInput:-ms-input-placeholder {
  padding-left: 0.5em;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.nav #searchInput::-ms-input-placeholder {
  padding-left: 0.5em;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.nav #searchInput::placeholder {
  padding-left: 0.5em;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.nav #searchBtn {
  width: 56px;
  padding: 0%;
  height: 36px;
  background: #000000;
  border: none;
  color: #FFFFFF;
}

.nav .menuPic {
  background-color: #EFEFEF;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 25vw;
  width: -webkit-fill-available;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  bottom: 3vw;
}

.nav .BurgerTitle {
  font-weight: 300;
  cursor: pointer;
}

.nav span {
  float: right;
}

.nav #searchForm {
  overflow: hidden;
  max-width: 100;
}

.nav #mobileSearch {
  background-color: white;
  padding: 0;
  position: absolute;
  top: 100%;
  z-index: 100;
  overflow: hidden;
  max-width: 0;
}

.nav .bm-burger-button {
  width: 3vw;
  height: 3vw;
}

.nav #searchFormMobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.nav .menuLine {
  border-top: 0.5px solid #F1F1EF;
  border-bottom: 0px;
}

.nav .menuLine:focus {
  outline: none;
}

@media (max-width: 1100px) {
  .navmenu li {
    display: none !important;
  }
  .nav .navIcon {
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav .site-logo {
    left: 7.5vw;
    height: 4vw;
  }
  .nav .site-logo img {
    width: 4.8vw;
    height: 4vw;
  }
  #searchForm {
    overflow: hidden;
    max-width: 0;
  }
  #mobileSearch {
    max-width: 100em !important;
    padding: 0.5em !important;
  }
  .nav #searchInput {
    width: 50vw;
    height: 5vw;
    font-size: 2vw;
  }
  .nav #searchInput ::-webkit-input-placeholder {
    padding-left: 0;
    font-size: 10vw;
    line-height: 1vw;
    font-weight: 300;
  }
  .nav #searchInput :-ms-input-placeholder {
    padding-left: 0;
    font-size: 10vw;
    line-height: 1vw;
    font-weight: 300;
  }
  .nav #searchInput ::-ms-input-placeholder {
    padding-left: 0;
    font-size: 10vw;
    line-height: 1vw;
    font-weight: 300;
  }
  .nav #searchInput ::placeholder {
    padding-left: 0;
    font-size: 10vw;
    line-height: 1vw;
    font-weight: 300;
  }
  #searchInput::-webkit-input-placeholder {
    font-size: 2vw !important;
    line-height: 2vw !important;
  }
  #searchInput:-ms-input-placeholder {
    font-size: 2vw !important;
    line-height: 2vw !important;
  }
  #searchInput::-ms-input-placeholder {
    font-size: 2vw !important;
    line-height: 2vw !important;
  }
  #searchInput::placeholder {
    font-size: 2vw !important;
    line-height: 2vw !important;
  }
  .nav #searchBtn {
    width: 7vw;
    height: 5vw;
    font-size: 2vw;
  }
}

@media (max-width: 768px) {
  .top {
    height: 13vw;
  }
  .nav {
    height: 10vw;
  }
  .topBanner {
    height: 4vw;
    font-size: 2vw;
    line-height: 4vw;
  }
  .nav .icon {
    height: 3vw;
  }
  .BurgerTitle {
    font-size: 3vw;
  }
}

@media (max-width: 768px) {
  .icon img {
    height: 3vw;
  }
}
/*# sourceMappingURL=Navbar.css.map */