.categoryWrape{
    display: flex;
    justify-content: center;

}

.group{
    display: flex;
    justify-content: center;
}


$breakpoint-tablet: 768px;
  
@media (max-width: $breakpoint-tablet) {
.categoryWrape{
    display: block;
    }
.long{
    width: 88%;
    margin: auto;
}
}


$breakpoint-phone: 480px;
  
@media (max-width: $breakpoint-phone) {
    .long{
        width: 90%;
        margin: auto;
    }
}
