.productWrape{
    color:#000000;

    .productTitle{
        margin-bottom: 0px;
        text-transform: none;
        font-size: 22px;
        line-height: 26px
    }

    .productDesc{
        font-size: 16px;
        line-height: 19px;
        font-weight: 300;
    }

    .productPrice{
        margin: auto;
        font-family: 'Pacifico';
        font-size: 26px;
        line-height: 46px;
        color: #10504F;
    }

    
    
}



$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;

@media (max-width: $breakpoint-tablet) {
    .productImg{
        width: 100%;
    }

    .productTitle{
        font-size: 18px !important;
    }

    .productDesc{
        font-size: 18px !important;
    }

    .productPrice{
        font-size: 18px !important;
    }

    .arrowBtn{

    }

    
  }

    
@media (max-width: $breakpoint-phone) {

    .productTitle{
        font-size: 13px  !important;
    }

    .productDesc{
        font-size: 13px !important;
    }

    .productPrice{
        font-size: 17px !important;
    }
}
