.productWrape{
    color:#000000;

    .productTitle{
        margin-bottom: 0px;
        text-transform: none;
        font-size: 22px;
        line-height: 26px
    }

    .productDesc{
        font-size: 16px;
        line-height: 19px;
        font-weight: 300;
    }

    .productPrice{
        margin: auto;
        font-family: 'Pacifico';
        font-size: 26px;
        line-height: 46px;
        color: #10504F;
    }
    
}


$breakpoint-tablet: 768px;

@media (max-width: $breakpoint-tablet) {
    .productTitle{
        font-size: 16px;
        line-height: 19px
    }

    .productDesc{
        font-size: 12px;
        line-height: 14px;
        font-weight: 300;
    }

    .productPrice{
        margin: auto;
        font-family: 'Pacifico';
        font-size: 18px;
        line-height: 32px;
        color: #10504F;
    }
    
  }