$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;

//Single Product
.productWrape{
    color:#000000;

    //Product Title
    .productTitle{
        margin-bottom: 0px;
        text-transform: none;
        font-size: 22px;
        line-height: 26px
    }

    //Product Description
    .productDesc{
        font-size: 16px;
        line-height: 19px;
        font-weight: 300;
    }

    //Product Image
    .productPrice{
        margin: auto;
        font-family: 'Pacifico';
        font-size: 26px;
        line-height: 46px;
        color: #10504F;
    }
    
}



@media (max-width: $breakpoint-tablet) {
    .productImg{
        width: 100%;
    }

    .productTitle{
        font-size: 3vw !important;
    }

    .productDesc{
        font-size: 2vw !important;
        margin: auto !important;
    }

    .productPrice{
        font-size: 3vw !important;
    }

  }

    
@media (max-width: $breakpoint-phone) {

    .productTitle{
        font-size: 4vw !important;
    }

    .productDesc{
        font-size: 3vw !important;
    }

    .productPrice{
        font-size: 4vw !important;
    }
}
