$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;

//Single slider
.slider{
  display:flex
}

//slider background image
.sliderImg{
  width: 100%;
}

//Title and button section
.wrape {
  position: absolute;
  width: fit-content;
  height: 100%;
  left: 10%;
  z-index: 100;
  color: #10504F;
  text-transform: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

//Title and button section align to right
.wrapeRight {
  position: absolute;
  width: fit-content;
  height: 25vw;
  left: 65%;
  z-index: 100;
  color: #10504F;
  text-transform: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

// Slider header
.header {
  font-family: Pacifico;
  font-size: 3vw;

}

// Slider subTitle
.subTitle {
  margin-top:2vw;
  margin-bottom:2vw;
  font-size: 1.3vw;
  line-height: 31px;
}

// Slider button
.shopBtn {
  color: white;
  background-color: #000000;
  font-size: 1vw;
  padding: 1.5vw;
  line-height: 1px;
  width: fit-content;
  height: 2.2vw;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.shopBtn:hover {
  color: #000000;
  background-color: #FFFFFF;
}


  
@media (max-width: $breakpoint-tablet) {
  .slider {
     flex-direction: inherit;
  }
  
  .carousel .slider {
    background-color: #FFFFFF;

}
  .wrape {
    color:#10504F !important;
    height: fit-content;
    align-self: flex-end;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    position: inherit;
    margin-left: auto;
    margin-right: auto;
    left: 0;
  }

  .wrapeRight {
    color:#10504F !important;
    height: fit-content;
    align-self: flex-end;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    position: inherit;
    margin-left: auto;
    margin-right: auto;
    left: 0;
  }

  .header {
    font-size: 6vw;
    margin: auto;
  }
  
  .subTitle {
    margin-top: 5vw !important;
    margin-bottom: 5vw !important;
    font-size: 3vw;
  }
  
  .shopBtn {
    width: 19vw;
    height: 7vw;
    font-size: 2vw;
    line-height: 1vw;
  }

  .carousel .control-dots {
    bottom: 50%;}

    .shopBtn:hover {
      color: #FFFFFF;
      background-color: #10504F ;
    }
}



@media (max-width: $breakpoint-phone) {

    .carousel .slider {
        height: 100%;
    }
    .header {
      font-size: 6vw;
    }
    
    .subTitle {
      margin-top:0vw !important;
      margin-bottom:0vw !important;
      font-size: 3vw;
    }
    
    .shopBtn {
      width: 30vw;
      height: 8vw;
      font-size: 3vw;
      
    }

  }