.slider{
  display:flex
}

.sliderImg{
  width: 100%;
}
  .wrape {
    position: absolute;
    width: fit-content;
    height: 100%;
    left: 10%;
    z-index: 100;
    color: #10504F;
    text-transform: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }

  .wrapeRight {
    position: absolute;
    width: fit-content;
    height: 25vw;
    left: 65%;
    z-index: 100;
    color: #10504F;
    text-transform: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }
  
  
  .header {
    margin: 0px;
    font-family: Pacifico;
    font-size: 3vw;

  }
  
  .subTitle {
    margin-top:3vw;
    margin-bottom:3vw;
    font-size: 1.3vw;
    line-height: 31px;
  }
  
  .shopBtn {
    color: white;
    background-color: #000000;
    font-size: 1.3vw;
    padding: 1.5vw;
    line-height: 1px;
    width: fit-content;
    height: 2.2vw;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
  }

  .shopBtn:hover {
    color: #000000;
    background-color: #FFFFFF;
  }
  
$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;

  
@media (max-width: $breakpoint-tablet) {
  .slider {
     flex-direction: inherit;
  }
  
  .carousel .slider {
    background-color: #EFEFEF;

}
  .wrape {
    color:#10504F !important;
    height: fit-content;
    align-self: flex-end;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    position: inherit;
    margin-left: auto;
    margin-right: auto;
    left: 0;
  }

  .wrapeRight {
    color:#10504F !important;
    height: fit-content;
    align-self: flex-end;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    position: inherit;
    margin-left: auto;
    margin-right: auto;
    left: 0;
  }

  .header {
    font-size: 6vw;
  }
  
  .subTitle {
    margin-top:3vw !important;
    margin-bottom:3vw !important;
    font-size: 3vw;
  }
  
  .shopBtn {
    width: 16.7vw;
    height: 6vw;
    font-size: 2vw;
    
  }

  .carousel .control-dots {
    bottom: 48%;}

    .shopBtn:hover {
      color: #FFFFFF;
      background-color: #10504F ;
    }
}



@media (max-width: $breakpoint-phone) {
  .header {
    font-size: 6vw;
  }
  
  .subTitle {
    margin-top:3vw !important;
    margin-bottom:3vw !important;
    font-size: 3vw;
  }
  
  .shopBtn {
    width: 30vw;
    height: 8vw;
    font-size: 4vw;
    
  }
   .carousel .control-dots {
    bottom: 50%;
  }


  
  }