$breakpoint-tablet: 768px;

//Single Product category card
.category{
    display: flex;
    flex-direction: column-reverse;
    margin: 2.6vw 1.5vw;
    width: 30vw;
    height: 40vw;
    text-transform: none;
    background-size: cover;
}

//Category title
.categoryTitle{
    font-size: 2vw;
    font-family: Pacifico;
    background-color: #10504F;
    line-height: 5vw;
    height: 6vw;
    width: 100%;
    margin: 0;
}


  
@media (max-width: $breakpoint-tablet) {
.category{
    width: 40vw;
    height: 50vw;
    margin: 30px 15px;
    }

.categoryTitle{
    font-size: 4vw;
    line-height: 9vw;
    height: 9vw;
}
}
