body {
  margin: 0;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color:#FFFFFF;


  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;


}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

a{
  color:white;
  text-decoration: none;
}

ul {
  list-style: none;
}

div:focus{
  outline: none;
}


button:focus{
  outline: none;
}
